*{
    padding: 0px;
    margin: 0px;
    background-color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-flow:wrap;
}

#logo{
    margin: 2px;
}

/* .header{
    border: 1px solid white;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px;
    background-color: white;
    position: fixed;
} */

.header ul{
    font: inherit;
    display: flex;
    list-style: none;
    font-weight: 400;
    font-stretch: 100%;

}

#searchbar{
    /* display: flex; */
    order: 500;

}



#raseekbig {
    width: 100%;
    max-width: 1903px; /* Prevents stretching beyond this size */
    height: 20%;
    object-fit: cover;
    transition: opacity 1.5s ease-in-out;
}

#navlist{
    /* display: flex; */
    order: 200;
    /* gap: 10px; */
    /* justify-content: space-between; */
    padding: 5px;
    margin-left: 100px;
    margin-top: 10px;

}

#navlist a{
    font-size: 6px;
    font-weight: 400;
    text-decoration: none;
    font-stretch: 100%;
    color: #000;
    /* padding: 0 4px; */
    margin: 0 8px;
    letter-spacing: normal;
    text-transform: uppercase;
    font: inherit;
    vertical-align: baseline;
}
.poetsalbums{
    margin-top: 4.166vw;
    /* padding-left: 20px;
    padding-right: 20px; */
    width: 100%;
    height: 31.25vw;
    box-sizing: border-box;
    background-color: whitesmoke;
    /* display: flex; */
    /* justify-content: space-around; */
    overflow-x: scroll;
    
}
.poetsalbums ul{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    background-color: whitesmoke;
    list-style: none;
}
#writerjaun{
    display: flex;
    justify-content: center;
    font-size: 1.111vw;
}
#poetscollection{
    display: flex;
    margin-top: 5.94vw;
    justify-content: center;
    background-color: whitesmoke;
    letter-spacing: 0.208vw;
    text-align: none;
    font-size: 1.11vw;
    text-decoration: none;
}

.smallheading{
    font: inherit;
    text-transform: uppercase;
    text-align: center;
    background-color: whitesmoke;
    letter-spacing: 0.3472vw;
    margin-bottom: 2.916vw;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1;
    color: black;
    padding-left: 1.38vw;
    padding-right: 1.38vw;
}
.quiz h1{
    margin-top: 0.6944vw;
    text-align: center;
    letter-spacing: 0.34722vw;
    text-transform: uppercase;
    color: palevioletred;
    margin-bottom: 3.472vw;
    font-size: 1.2055em;  
}

.quizcontainer{
    margin: auto;
    height: 20.8333vw;
    min-height: 200px;
    width: 80%;
    background-color: rgb(247, 242, 235);

}

#mainquestion{
    /* padding-top: 5px; */
    color: black;
    letter-spacing: 2px;
    text-transform: none;
    font-weight: lighter;
}
#option1{
    /* margin-left: 390px; */
    margin: auto;
    margin-top: 25px;
    height: 1.95vw;
    min-height: 20px;
    width: 31.25vw;
    min-width: 200px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    border: 1px solid #b4b4b4;
    /* border-color: black; */
    border-radius: 5px;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    font: inherit;
    vertical-align: baseline;
    overflow-y:hidden;
    max-height: fit-content;
}
#option2{
    margin: auto;
    margin-top: 1.7361vw;
    height: 1.95vw;
    min-height: 20px;
    width: 31.25vw;
    min-width: 200px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    border: 1px solid #b4b4b4;
    /* border-color: black; */
    border-radius: 5px;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    font: inherit;
    vertical-align: baseline;
    overflow-y:hidden;
    max-height: fit-content;

}
#option3{
    /* margin-left: 390px; */
    margin: auto;
    margin-top: 1.7361vw;
    height: 1.95vw;
    min-height: 20px;
    width: 31.25vw;
    min-width: 200px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    border: 1px solid #b4b4b4;
    /* border-color: black; */
    border-radius: 5px;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    font: inherit;
    vertical-align: baseline;
    overflow-y:hidden;
    max-height: fit-content;

}
#option4{
    /* margin-left: 390px; */
    margin: auto;
    margin-top: 1.7361vw;
    height: 1.95vw;
    min-height: 20px;
    width: 31.25vw;
    min-width: 200px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    border: 1px solid #b4b4b4;
    /* border-color: black; */
    border-radius: 5px;
    text-align: left;
    display: block;
    cursor: pointer;
    position: relative;
    font: inherit;
    vertical-align: baseline;
    overflow-y:hidden;
    max-height: fit-content;

}

#heading{
    text-align: center;
    font-size: 1.527vw;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shayari1{
    margin-top: 1.38vw;
    text-align: center;
    font-weight: 100;
    font-size: 1.8vw;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.shayari1{
    line-height: 5.2083vw;
    letter-spacing: 0.208vw;
} 

#writername3{
    font-style: inherit;
    font-weight: 100;
    letter-spacing: 0.208vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.38vw;
    color: black;
    text-decoration:none;


}
.mainimage{
    /* width: 100%; */
}


#youngpoetsid{
    /* margin-left: 26.77vw;
    margin-right: 27.77vw; */
    border-radius: 5px;
    /* box-sizing: border-box; */
    /* height: 2.08vw; */
    height: 13.083vw;
    width: 50.7vw;
    margin-right: 25vw;
    margin-left: 25vw;
    min-height: 90px;
    min-width: 120px;
}

.ebookscontainer ul{
    height: 27.7vw;
    width: 80%;
    margin-left: 5.20vw;
    margin-right: 5.20vw;
    margin-top: 15.7vw;
    /* box-sizing: border-box; */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    margin-bottom: 400px;
    overflow-y: scroll;


}

.ebookscontainer ul{
    /* margin-right: 1.38vw; */
    /* display: flex; */
    /* justify-content: space-around; */
    list-style: none;
}
.ebookscontainer ul li{
    margin-left: 4.86vw;
    text-decoration: none;
    /* display: inline-block; */
    overflow-y: scroll;

}
.ebookscontainer ul li img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}




#search{
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 5px;
    height: 34px;
    width: 100%;
    display: block;
}

#ebooks{
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 400px) {
    .header ul{
        display: flex;
        flex-direction: column;
    }

    .shayari1{
        font-size: 14px;
        margin-top: 20px;
        line-height: 25px;
    }

    #writerjaun{
        font-size: 8px;
    }
    #navlist{
        display: flex;
        order: 500;
        justify-content: space-between;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 5px;
    }
    #navlist a{
        margin: 0px 2px;
        font-size: 12px;
        /* justify-content: space-between; */
    }

    #search{
        width: 95%;
        margin-left: 1.994vw;
        /* margin-right: 0.694vw; */
        height: 26px;
    }

    #mainquestion{
        margin-top: 10px;
    }

    .header{
        box-sizing: border-box;
        /* display: flex; */
        border: 1px solid white;
        min-width: 100%;
    
    }


        
    #logo img{
        margin-left: 10px;
        height: 25px;
        width: 55px;
    }

    #raseekbig{
        margin-top: 10px;
        /* max-width: 100%; */
        width: 100%;
        /* height: 100%; */

    }

    .poetsalbums ul{
        display: flex;
        flex-wrap: nowrap;
        
    }

    .poetsalbums li img{
        height: 100%;
        width: 90%;


    }
    .smallheading{
        font-size: 12px;
    }
    .quiz h1{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    #heading{
        font-size: 12px;
    }

    #poetscollection{
        font-size: 10px;
    }

    #writername3{
        font-size: 8px;
        display: flex;
        justify-content: center;
    }

    #writername4{
        font-size: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }




  }

  @media only screen and (max-width: 1100px) {
    #raseekbig{
        width: 100%;
        height: 15%;
    }

    /* .header{
        box-sizing: border-box;
        /* display: flex; */
        /* border: 1px solid white;
        width: 100%;
        height: auto; */

  }
